<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
      <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <!-- Use title if it's in the page YAML frontmatter -->
      <title><%= current_page.data.title || "Simone de Best" %></title>


      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <%= stylesheet_link_tag "all" %>
      <%= stylesheet_link_tag "nav" %>
      <%= javascript_include_tag  "all" %>
    </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    </body>
  </html>
